<header class="header">
	<a href="<%- url_for() %>" class="header__title"><%= config.title %></a></a>
	<div class="header__subtitle"><%= theme.subtitle %></div>
	<nav class="header__nav">
		<% for (var i in config.menu) { %>
			<a class="header__nav-item header__nav-item--importance-<%= config.menu[i].importance %>" href="<%- url_for(config.menu[i].url) %>"><%= i %></a>
		<% } %>
	</nav>
</header>
