<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<%
	var title = page.title;

	if (is_archive()) {
		title = 'Archives';

		if (is_month()) {
			title += ': ' + page.year + '/' + page.month;
		} else if (is_year()) {
			title += ': ' + page.year;
		}
	} else if (is_category()) {
		title = 'Category: ' + page.category;
	} else if (is_tag()) {
		title = 'Tag: ' + page.tag;
	}
	%>
	<% if (title) { %>
	<title><%= title %> | <%= config.title %></title>
	<% } else { %>
	<title><%= config.title %> | Beijing HTML5, JavaScript, Golang developer</title>
	<% } %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- open_graph({ twitter_id: config.twitter, google_plus: config.google_plus, updated: 'hacked' /* This switches off og:updated_time */ }) %>
	<% if (config.feed.path) { %>
		<link rel="alternate" href="/<%- config.feed.path %>" title="<%= config.title %>" type="application/atom+xml">
	<% } %>
	<%- css('main') %>
	<%- partial('google-analytics') %>
</head>
